body {
  max-width: 80%;
  margin: 0 auto;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  /*background: url(http://d24wuq6o951i2g.cloudfront.net/img/events/id/241/2410214/assets/350.Minneapolis-Backdrop.jpg);*/
}


.main {
  border-radius: 20px;
  /*margin-top: 5%;*/
  margin-top: 14%;
  /*top: 80%;*/
  padding: 20px 15px;
  text-align: center;
/*  background: linear-gradient(0.25turn, #fefefe, #B0E0E6, #fefefe);*/
  background: linear-gradient(#fefefe, #B0E0E6, #fefefe);
}

@media only screen and (max-width: 1200px) {
  .main {
    margin-top: 17%;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 850px) {
  .main {
    margin-top: 28%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    margin-top: 40%;
  }
}

@media only screen and (max-width: 568px) {
  .main {
    margin-top: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    margin-top: 80%;
  }
}



.main h3 {
  display: relative;
  margin-top: 3%;
  font-size: 30px;
}

.main p {
  font-size: 22px;
}

.main-content {
  margin: 0 auto;
  max-width: 60%;
}

.topnav {
  border-radius: 20px;
  font-size: 22px;
  /*top: 500px; */
  background: linear-gradient(#B0E0E6, #fefefe);
/*  background: linear-gradient(#fefefe, #B0E0E6, #fefefe);*/
  /*background: url(http://d24wuq6o951i2g.cloudfront.net/img/events/id/241/2410214/assets/350.Minneapolis-Backdrop.jpg);*/
  text-align: center;
  display: block;
  width: 80%;
  /*margin-top: 10px;
  position: fixed;*/
  top: 0;
  margin: 0 auto;
  position: fixed;
}

.topnav a, strong {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0px 12px;
}

.topnav a:hover, .bottomnav a:hover {
  padding: 5px 20px;
  /* background-color: lightgrey; */
  border-radius: 20px;
  /* color: red; */
}

a:hover {
  padding: 3px 10px;
  background-color: blue;
  border-radius: 20px;
  color: yellow;

}

.topnav h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  letter-spacing: 5px;
  padding-bottom: 5px;
  margin: -20px 0px;
  font-family: 'Permanent Marker', cursive;
}

.bigletter {
  font-size: 60px;
}

.topnav h4 {
  font-size: 15px;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  margin: -13px 0px;
  padding: 10px 0px;
}

.topnav nav {
  padding-top: 7px;
}

.bottomnav {
  margin-top: 5px;
  top: 20%;
  text-align: center;
  background: linear-gradient(#fefefe, #B0E0E6);
  border-radius: 20px;
}

.bottomnav nav a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0px 30px 0px 30px
}

.bottomnav nav {
  padding-bottom: 15px;
}


.mainavatar {
  margin-top: -1%;
  max-width: 175px;
  max-height: 190px;
  border-radius: 35px;
}

.portfolio-content {
  margin: 0 auto;
  max-width: 60%;
}

.portfolio-content a {
  font-size: 27px;
}

.portfolio-content h3 {
  font-size: 40px;
}

.main hr:first {
  position: relative;
  left: -50%;
  width: 110%;
}
